<a href="https://colab.research.google.com/github/321910305048/assignment.py/blob/master/assignment_12_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program to create a tuple.

In [1]:
 t1=(1,2,3,4,5)
print(t1, type(t1))

(1, 2, 3, 4, 5) <class 'tuple'>

Program to create a tuple with different data types.

In [3]:
 t1 = (1,2.5,"dude",["Hello","Good Day"])
print(t1, type(t1))

(1, 2.5, 'dude', ['Hello', 'Good Day']) <class 'tuple'>

 Program to convert a tuple into a string.

In [4]:
 t1 = ("G","i","t","a","m")
str = "".join(t1)
print("Tuple converted string:",str)

Tuple converted string: Gitam

 Program to slice a tuple.

In [5]:
 t1 = (1,2,3,4,5,6,7,8,9,10)
slice=(t1[4:8])
print("Sliced tuple:",slice)

Sliced tuple: (5, 6, 7, 8)

 Program to find the length of a tuple.

In [6]:
 t1 = (1,2,3,4,5,6,7,8)
print("Length of the tuple:",len(t1))

Length of the tuple: 8

Program to convert a tuple into a dictionary.

In [7]:
 t1 = (("one",1),("two",2),("three",3),("four",4),("five",5))
converted_dict = dict(t1)
print("Converted Dictionary:",converted_dict)

Converted Dictionary: {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

 Program to reverse a tuple.

In [8]:
 t1 = (1,2,3,4,5,6,7,8)
print("Reversed Tuple:",t1[::-1])

Reversed Tuple: (8, 7, 6, 5, 4, 3, 2, 1)

 Program to convert a list of tuples into a dictionary.

In [9]:
 
mylist = [("one",1),("two",2),("three",3),("four",4)]
dict_converted = dict(mylist)
print("Dictionary converted list:",dict_converted)

Dictionary converted list: {'one': 1, 'two': 2, 'three': 3, 'four': 4}

 
 
Program to convert a list of tuples into a tuple

In [10]:
 mylist = ["Hello","Hey","Hi"]
print("Tuple converted list:",tuple(mylist))

Tuple converted list: ('Hello', 'Hey', 'Hi')