<a href="https://colab.research.google.com/github/321910305048/assignment.py/blob/master/assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Convert Binary to Decimal

In [4]:
 
num=int(input("Enter the binary number: "))
decimal=0
base=1
temp=num
 
while temp!=0:
    last=temp%10
    temp=int(temp/10)
    decimal+=last*base
    base=base*2
print("The decimal form is",decimal)

Enter the binary number: 14389
The decimal form is 85

 Generate first n Fibonacci series.

In [5]:
 n= int(input("Enter the value of n: "))
n1=0
n2 =1 
count=0
print("Fibonacci Sequence until",n,"terms is: ")
while count<n:
    print(n1)
    n3=n1+n2
    n1=n2
    n2=n3
    count+=1

Enter the value of n: 7
Fibonacci Sequence until 7 terms is:
0
1
1
2
3
5
8

 
Display multiplication table of k. Take k value from user.

In [6]:
 
k=int(input("Enter a number to print the multiplication table: "))
print("Multiplication table:")
for i in range(1,11):
    print(k,"*",i,"=",k*i)

Enter a number to print the multiplication table: 48
Multiplication table:
48 * 1 = 48
48 * 2 = 96
48 * 3 = 144
48 * 4 = 192
48 * 5 = 240
48 * 6 = 288
48 * 7 = 336
48 * 8 = 384
48 * 9 = 432
48 * 10 = 480

 Take 10 integers from keyboard using loop and print their average value on the screen Print the following patterns using loop:
.**

In [7]:
 
for num in range(1,11):
    num= int(input("Enter a value: "))

Enter a value: 12
Enter a value: 2
Enter a value: 4
Enter a value: 5
Enter a value: 7
Enter a value: 3
Enter a value: 21
Enter a value: 9
Enter a value: 5
Enter a value: 2

In [8]:
 
rows = 4
for row in range(1, rows+1):
    for column in range(1, row + 1):
        print("*", end="")
    print("")

*
**
***
****

 
Program to find the GCD of two numbers.

In [9]:
 
import math
n1= int(input("Enter First number:"))
n2= int(input("Enter second number:"))
print(math.gcd(n1,n2),"is the GCD of",n1,"and",n2)

Enter First number:12
Enter second number:20
4 is the GCD of 12 and 20

Program that accepts a word from the user and reverses it

In [14]:
 
word=input("Enter a word: ")
rev= word[::-1]
print("Reverse of",word,"is",rev)

Enter a word: mom
Reverse of mom is mom

 
Program to count the number of even and odd numbers from a series of numbers.

In [15]:
 
start=int(input("Enter the starting number: "))
end=int(input("Enter the ending number:"))
count_even=0
count_odd=0
for num in range(start,end+1):
    if num%2==0:
        count_even+=1
    else:
        count_odd+=1
print("The number of even numbers:",count_even)
print("The number of odd numbers",count_odd)

Enter the starting number: 2
Enter the ending number:50
The number of even numbers: 25
The number of odd numbers 24

Program that prints all numbers from 0 to 6 except 3 and 6.

In [17]:
 for num in range(0,6):
    if num==3:
       continue
    print(num)

0
1
2
4
5